nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    color: #000;
}
